body {
     height: 100%; /* Ermöglicht, dass die Seite die gesamte Höhe des Fensters einnimmt */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; /* Zentriert Text im Body */
    display: flex;
    flex-direction: column;
}

header {
    background: #004080;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    background: #333;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background: #575757;
}

main {
    text-align: center; /* Zentriert Text und Elemente im Hauptbereich */
     flex: 1; /* Sorgt dafür, dass der Hauptinhalt den Platz einnimmt */
     max-width: 1200px; /* Maximale Breite des Inhalts */
    margin: 0 auto; /* Zentriert den Inhalt horizontal */
    padding: 0 20px; /* Fügt einen kleinen inneren Abstand hinzu */
}

main h2 {
    color: #004080;
}

main p, main ul, main iframe, main a {
    margin: 0 auto; /* Zentriert den Inhalt horizontal */
    display: block;
}

footer {
   text-align: center;
    background: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 0;
    position: relative; /* Verhindert Überlagerung */
    bottom: 0;
    width: 100%;
}
